<div class="content">
  <h2>Listagem de Empresas</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Nome do Dono</th>
        <th>Saldo</th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr onclick="window.location='/transactions/<%= company.id %>'" style="cursor: pointer;">
          <td><%= company.name %></td>
          <td><%= company.owner_name %></td>
          <td class="<%= company.balance < 0 ? 'negative-balance' : 'positive-balance' %>"><%= number_to_currency(company.balance.abs, unit: 'R$', separator: ',', delimiter: '.') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>