<h2 class='header'>
  <%= @company.name %>
  <span>
    Saldo: <span class="<%= @company.balance < 0 ? 'negative-balance' : 'positive-balance' %>"><%= number_to_currency(@company.balance.abs, unit: 'R$', separator: ',', delimiter: '.') %></span>
  </span>
</h2>

<table class="table">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Valor</th>
      <th>CPF</th>
      <th>Cartão</th>
      <th>Data</th>
      <th>Hora</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_type.description %></td>
        <td class="<%= transaction.transaction_type.operator == TransactionType::OUT_OPERATOR ? 'negative-balance' : 'positive-balance' %>"><%= number_to_currency(transaction.amount.abs, unit: 'R$', separator: ',', delimiter: '.') %></td>
        <td><%= transaction.beneficiary_document %></td>
        <td><%= transaction.card_number %></td>
        <td><%= transaction.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= transaction.created_at.strftime("%H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>